<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DVDStore</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h1>La boutique de DVD en ligne </h1>
<h2> Voici nos différents films</h2>

<a href="add-movie-form">Ajout de film</a>

    <section class="container">
        <div class="left-half">
            <artiicle id="movie-list">


            </artiicle>
        </div>
        <div class="right-half">
            <artiicle id="movie-detail">


            </artiicle>
        </div>
    </section>
<script th:src="@{/js/script.js}"></script>                                <!-- Pour faire charger le fichier script.js par le navigateur apres l'affichage de la dvdstore-home.html-->
</body>
</html>
